@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --primary-color:#E31C25;
    --secondary-color:#BB000E;
    --primary-text-color:#111111;
    --secondary-text-color:#161616;
    --span-color:#1C1C1C;
}
html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    /* background-color: whitesmoke; */
}
.profile{
    position: relative;
    height: 100vh;
    background: url("images/profile3.jpg") no-repeat center center/cover;
}
.profile .menu{
    z-index: 100;
}
.profile .navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile .navigation .burgerIcon{
    font-size: 4rem;
    cursor: pointer;
    display: none;
}

.profile .navigation .nav ul{
    display: flex;
    align-items: center;
}
.profile .navigation .nav ul li{
    list-style: none;  
    font-weight: 300;
    margin-right: 1rem; 
}
.profile .navigation .nav ul li a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--primary-text-color);
    border: solid 0.1rem transparent;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}
.profile .navigation .nav ul li a.active{
    color: var(--primary-color);
}
.profile .navigation .nav ul li a:hover{
    color: var(--primary-color);
    border: solid 0.1rem var(--primary-color);
    transition: all 0.5s ease-in-out;
    border-radius: 0.5rem;
}
.profile .navigation .nav ul li:last-child a{
    padding: 2rem 3rem;
    border: solid 0.1rem var(--secondary-color);
    border-radius: 0.5rem;
    transition: background 0.5s ease-in-out;
}
.profile .navigation .nav ul li:last-child a:hover{
    transition: background 0.5s ease-in-out;
    background-color: var(--primary-color);
    border: solid 0.1rem var(--primary-color);
    color: #fff;
}
/* BURGER MENU */
.profile .burger{
    z-index: 200;
    width: 100vw;
    background-color: var(--span-color);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transform: translateY(-60rem);
    transition: transform 0.5s ease-in-out;
}
.profile .burger ul{   
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile .burger ul li{
    list-style: none;
    margin: 1rem;
}
.profile .burger ul li a{
    color: #fff;
    font-size: 2rem;
}
.profile .burger ul li a:hover{
    color: var(--primary-color);
    transition: color 0.2s ease-in-out;
}

/* PROFILE HEADER */
.profile .header{
    position: absolute;
    left: 10vw;
    bottom: 20vh;
    width: 30vw;
    padding: 4rem;
    overflow: hidden;
}
.profile .header span{
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 300;
    opacity: 0;
    transition: opacity 1s ease;
}
.profile .header span.span{
    opacity: 1;
    transition: opacity 1s ease;
}
.profile .header h2{
    font-size: 6rem;
    color: #fff;
    transform: translateX(-80rem);
    transition: transform 0.5s ease;

}
.profile .header p{
    font-size: 2rem;
    color:var(--primary-text-color);
    margin-bottom: 3rem;
    transform: translateX(-80rem);
    transition: transform 1s ease;
}
.profile .header a{
    text-decoration: none;
    padding: 2rem 3rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: #fff;
    font-size: 2rem; 
    opacity: 0;
    transition: opacity 1s ease;
}
.profile .header a.btn{
    opacity: 1;
    transition: opacity 1s ease;
}
.profile .header a:hover{
    background-color: var(--secondary-color);
    transition: all 0.5s ease;
}

/* CHEF SECTION */
.chef{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem; 
    margin-bottom: 10rem;
    background-color: whitesmoke;  
}
.chef .chef-header{
    width: 30vw;
    margin-left: 5rem;
}

.chef .chef-header span{
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 300;
}
.chef .chef-header h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 7rem;
    letter-spacing: 0.1rem;
    line-height: 7rem;
    color: var(--primary-text-color);
}
.chef .chef-header p {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}
.chef .chef-image{
    min-height: 100rem;
    min-width: 30vw;
    background: url("images/Nusret-profile.jpg") no-repeat center center/cover;
}

/* MENU SECTION */
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu .menu-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.menu .menu-header span{
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 300;
}
.menu .menu-header h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 7rem;
    letter-spacing: 0.1rem;
    line-height: 7rem;
    color: var(--primary-text-color);
}
.menu .menu-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.menu .menu-tabs .menu-item{
    padding: 1rem 2.5rem;
    cursor: pointer;
    font-size: 2rem;
    border: solid 0.1rem transparent;
    margin-right:1rem ;
    margin-bottom: 5rem;
}
.menu .menu-tabs .menu-item:hover{
    border: solid 0.1rem var(--secondary-color);
    transition: border 0.5s ease;
}
.menu .menu-tabs .menu-item.active{
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}
.menu .menu-tabs .menu-item.active::after{
    position: absolute;
    content: "";
    height: 0px;
    width: 0px;
    top: 100%;
    left:50% ;
    border-top: solid 1rem var(--primary-color);
    border-right: solid 1rem transparent;
    border-bottom: solid 1rem transparent;
    border-left: solid 1rem transparent;
    margin-left: -1rem;
}
.menu .tab-content .tab{
    display: none;   
}
.menu .tab-content .tab.active{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.menu .tab-content .tab.active .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
    cursor: pointer;
    margin: 0.5rem;
}
.menu .tab-content .tab.active .item .item-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(7rem);
    opacity: 0;
    transition: all 0.5s ease;
}
.menu .tab-content .tab.active .item:hover > .item-header{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease;
}

.menu .tab-content .tab.active .item .item-header h3{
    font-size: 3rem;
}
.menu .tab-content .tab.active .item .item-header p{
    font-size: 1rem;
}
.menu .tab-content .tab .item{
    height: 50rem;
    width: 40rem;
}
.menu .tab-content .tab .cappaccio{
    background: url("images/profile3.jpg") no-repeat center center/cover;
}



@media only screen and (max-width:1400px){
    .profile .header {
        width: 60vw;
    }
}
@media only screen and (max-width:900px){
    html{
        font-size: 55%;
    }
}
@media only screen and (max-width:800px){
    html{
        font-size: 50%;
    }
}

@media only screen and (max-width:750px){
    html{
        font-size: 45%;
    }
    .profile .navigation{
        justify-content: space-between;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .profile .navigation .brand img{
        height: 15rem;
        width: auto;
    }
    .profile .navigation .burgerIcon{
        font-size: 3rem;
    }
    .profile .navigation .nav{
        display: none;
    }
    .profile .navigation .burgerIcon.open{
        display: inline-block;
    }
    .profile .header{
        left: 0;
        padding-left: 2rem;
        width: 100vw;
    }
    .chef{
        flex-direction: column;
        margin: 0;
        margin-top: 5rem;
    }
    .chef .chef-image{
        width: 100%;
        margin-bottom: 2rem;
    }
    .chef .chef-header {
        width: 100%;
        padding-right: 2rem;
    }
    .chef .chef-header span{
        margin-top: 2rem;
    }
    .chef .chef-header h2{
        font-size: 5rem;
    }

}