@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --primary-color:#E31C25;
    --secondary-color:#BB000E;
    --primary-text-color:#111111;
    --secondary-text-color:#161616;
    --span-color:#1C1C1C;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    position: relative;
}
.profile{
    position: relative;
    height: 100vh;
    background: url("images/profile3.jpg") no-repeat center center/cover;
}
.profile .profile-menu{
    position: absolute;
    z-index: 200;
}

.profile .profile-menu.active{
    position: fixed;
    top: 2vh;
    left: 0;
    z-index: 200;
    transition: background 0.5s ease;
}
.profile .navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: background 0.5s ease;
}
.profile .profile-menu.active .navigation{
    background-color: #fff;
    transition: background 0.5s ease;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    width: 100vw;
}
.profile .navigation .brand img{
    height: 10rem;
    width: auto;
}
.profile .navigation .burgerIcon{
    font-size: 4rem;
    cursor: pointer;
    display: none;
}

.profile .navigation .nav ul{
    display: flex;
    align-items: center;
}
.profile .navigation .nav ul li{
    list-style: none;  
    font-weight: 300;
    margin-right: 1rem; 
}
.profile .navigation .nav ul li a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--primary-text-color);
    border: solid 0.1rem transparent;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}
.profile .navigation .nav ul li a.active{
    color: var(--primary-color);
}
.profile .navigation .nav ul li a:hover{
    color: var(--primary-color);
    border: solid 0.1rem var(--primary-color);
    transition: all 0.5s ease-in-out;
    border-radius: 0.5rem;
}
.profile .navigation .nav ul li:last-child a{
    padding: 2rem 3rem;
    border: solid 0.1rem var(--secondary-color);
    border-radius: 0.5rem;
    transition: background 0.5s ease-in-out;
}
.profile .navigation .nav ul li:last-child a:hover{
    transition: background 0.5s ease-in-out;
    background-color: var(--primary-color);
    border: solid 0.1rem var(--primary-color);
    color: #fff;
}
/* BURGER MENU */
.profile .burger{
    width: 100vw;
    background-color: var(--span-color);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transform: translateY(-60rem);
    transition: transform 0.5s ease-in-out;
}
.profile .burger ul{   
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile .burger ul li{
    list-style: none;
    margin: 1rem;
}
.profile .burger ul li a{
    color: #fff;
    font-size: 2rem;
}
.profile .burger ul li a:hover{
    color: var(--primary-color);
    transition: color 0.2s ease-in-out;
}

/* PROFILE HEADER */
.profile .header{
    position: absolute;
    left: 10vw;
    bottom: 20vh;
    /* margin-left: 10vw; */
    width: 40vw;
    padding: 2rem;
    overflow: hidden;
}
.profile .header span{
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 300;
    opacity: 0;
    transition: opacity 1s ease;
}
.profile .header span.span{
    opacity: 1;
    transition: opacity 1s ease;
}
.profile .header h2{
    font-size: 6rem;
    margin-bottom: 2rem;
    color: #fff;
    transform: translateX(-80rem);
    transition: transform 1s ease;

}
/* .profile .header p{
    font-size: 2rem;
    color:var(--primary-text-color);
    margin-bottom: 3rem;
    transform: translateX(-80rem);
    transition: transform 1s ease;
} */
.profile .header a{
    text-decoration: none;
    padding: 2rem 3rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: #fff;
    font-size: 2rem; 
    opacity: 0;
    transition: opacity 1s ease;
}
.profile .header a.btn{
    opacity: 1;
    transition: opacity 1s ease;
}
.profile .header a:hover{
    background-color: var(--secondary-color);
    transition: all 0.5s ease;
}

/* CHEF SECTION */
.chef{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem; 
    margin-bottom: 10rem;
    background-color: whitesmoke;  
}
.chef .chef-header{
    width: 30vw;
    margin-left: 5rem;
}

.chef .chef-header span{
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 300;
}
.chef .chef-header h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 7rem;
    letter-spacing: 0.1rem;
    line-height: 7rem;
    color: var(--primary-text-color);
}
.chef .chef-header p {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}
.chef .chef-image{
    min-height: 100rem;
    min-width: 30vw;
    background: url("images/Nusret-profile.jpg") no-repeat center center/cover;
}

/* MENU SECTION */
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10rem;
}
.menu .menu-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.menu .menu-header span{
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 300;
}
.menu .menu-header h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 5rem;
    letter-spacing: 0.1rem;
    line-height: 7rem;
    color: var(--primary-text-color);
}
.menu .menu-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.menu .menu-tabs .menu-item{
    padding: 1rem 2.5rem;
    cursor: pointer;
    font-size: 2rem;
    border: solid 0.1rem transparent;
    margin-right:1rem ;
    margin-bottom: 5rem;
}
.menu .menu-tabs .menu-item:hover{
    border: solid 0.1rem var(--secondary-color);
    transition: border 0.5s ease;
}
.menu .menu-tabs .menu-item.active{
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}
.menu .menu-tabs .menu-item.active::after{
    position: absolute;
    content: "";
    height: 0px;
    width: 0px;
    top: 100%;
    left:50% ;
    border-top: solid 1rem var(--primary-color);
    border-right: solid 1rem transparent;
    border-bottom: solid 1rem transparent;
    border-left: solid 1rem transparent;
    margin-left: -1rem;
}
.menu .tab-content .tab{
    display: none;   
}
.menu .tab-content .tab.active{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.menu .tab-content .tab.active .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
    cursor: pointer;
    margin: 0.5rem;
}
.menu .tab-content .tab.active .item .item-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.menu .tab-content .tab.active .item .item-content .item-header{
    height: 100%;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(7rem);
    opacity: 0;
    transition: transform 0.5s ease;
}
.menu .tab-content .tab.active .item:hover > .item-content{
    background-color: rgba(0, 0, 0, 0.6);
}
.menu .tab-content .tab.active .item:hover >.item-content .item-header{
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

.menu .tab-content .tab.active .item .item-header h3{
    font-size: 3rem;
    color: #fff;
}
.menu .tab-content .tab.active .item .item-header p{
    font-size: 1rem;
    color: #fff;
}
.menu .tab-content .tab .item{
    height: 50rem;
    width: 40rem;
    overflow: hidden;
    position: relative;
}
.menu .tab-content .tab .item .item-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* MODEL */
.model-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
}
.model-container.active{
    z-index: 400;
    pointer-events: auto;
    opacity: 1; 
    transition: all 0.5s ease-in;
}
.model-container.active .model{
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in;
    padding: 5rem;
}
.model-container.active .model .model-icon{
    align-self: flex-end;
    margin-bottom: 2rem;
    cursor: pointer;
}
.model-container.active .model .model-icon i{
    font-size: 5rem;
    color: #fff;
}
.model-container.active .model .model-content{
    height: 100%;
    width:auto;
    position: relative;
    overflow: hidden;
}
.model-container .model .model-content .item-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.model-container .model .model-content .item-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;    
}
.model-container .model .model-content .item-content .item-header{
    height: 100%;
    width: 100%;   
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5rem;
    overflow: hidden;

}
.model-container .model .model-content .item-content .item-header h3{
    font-size: 5rem;
    color: var(--primary-color);
    font-weight: 200;
    transform: translateX(-20rem);
}
.model-container .model .model-content .item-content .item-header h3.active{
    transform: translateX(0);
    transition: transform 0.5s ease 1s;
}
.model-container .model .model-content .item-content .item-header p{
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: var(--primary-text-color);
    transform: translateX(-80rem);
}
.model-container .model .model-content .item-content .item-header p.active{
    
    transform: translateX(0);
    transition: transform 1s ease 1s;
}

/* TABLE SECTION */

.table-container{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
    background-color: whitesmoke;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.table-container .table .table-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
}
.table-container .table .table-header span{
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 300;
}
.table-container .table .table-header h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 7rem;
    letter-spacing: 0.1rem;
    line-height: 7rem;
    color: var(--primary-text-color);
}

.table-container .table form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.table-container .table form .form-content{
    margin: 1rem;
}
.table-container .table form .form-btn{
    margin: 1rem;
}
.table-container .table form .form-content select{ 
    font-size: 2rem;
    height: 7rem;
    outline: none;
    padding: 1rem 2rem;
    border: solid 0.1rem #fff;
    border-radius: 0.5rem;
    background-color: #fff;
    width: 30rem;
    color: var(--primary-color);
    font-weight: 400;
    font-family: inherit;
}
.table-container .table form .form-content input{ 
    font-size: 2rem;
    height: 7rem;
    outline: none;
    padding: 1rem 2rem;
    border: solid 0.1rem #fff;
    border-radius: 0.5rem;
    background-color: #fff;
    width: 30rem;
    color: var(--primary-color);
    font-weight: 400;
    font-family: inherit;
}
.table-container .table form .form-content input::placeholder{
    color: var(--primary-color);
}
.table-container .table form .form-btn button{
    font-size: 2rem;
    height: 7rem;
    padding: 1rem 2rem;
    outline: none;
    border: solid 0.1rem var(--primary-color);
    border-radius: 0.5rem;
    width: 30rem;
    background-color: var(--primary-color);
    color: white;
    font-weight: 400;
    font-family: inherit;
}

/* SLIDER */
.slider-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    /* background-color:whitesmoke; */
}
.slider-container .slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:80vw;
}
.slider-container .slider-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
}
.slider-container .slider-header span{
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 300;
}
.slider-container .slider-header h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 7rem;
    letter-spacing: 0.1rem;
    line-height: 7rem;
    color: var(--primary-text-color);
}
.slider-container .slider .slide{
    height:60rem ;
    width: 40rem;
    margin: 2rem;
    background-color: whitesmoke;
    /* background-color: rebeccapurple; */
}
.slider-container .slider .slide .image-container{
    width: 100%;
    height:60%;
}
.slider-container .slider .slide .image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.slider-container .slider .slide .slide-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.slider-container .slider .slide .slide-content h2{
    font-size: 2rem;
    padding: 1rem;
}
.slider-container .slider .slide .slide-content p{
    font-size: 1.5rem;
}
.slider-container .slider .slide .slide-content span{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 200;
}

.slider-container .slider button::before{
    color:var(--primary-color);
    z-index: 200;
    font-size: 4rem;
    /* padding: 3rem; */

}
.slider-container .slider button.slick-prev.slick-arrow{
    left: -4rem;
}

/* CONTACT */
.message-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: whitesmoke;
}
.message-container .message-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.message-container .message-header span{
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 300;
} 
.message-container .message-header h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 7rem;
    letter-spacing: 0.1rem;
    line-height: 7rem;
    color: var(--primary-text-color);
}
.message-container form .form-control input,
.message-container form .form-control textarea,
.message-container form .form-btn button
{
    font-size:2rem ;
    width: 30vw;
    padding: 2rem;
    outline: none;
    font-family: inherit;
    margin: 1rem;
    border: transparent;
    background-color: #fff;
    border-radius: 0.5rem;
    color: var(--primary-color);
}
.message-container form .form-control input::placeholder,
.message-container form .form-control textarea::placeholder{
        color: var(--primary-color);
}
.message-container form .form-control textarea{
    resize: none;
}
.message-container form .form-btn button{
    background-color: var(--primary-color);
    color: #fff;
    transition: opacity 0.3s ease;
}
.message-container form .form-btn button:hover{
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

/* FOOTER */
.footer-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    padding-top: 5rem;
    /* background-color: #3f3e3ec4; */
}
.footer-container .footer{
    display: flex;
    justify-content: space-evenly;
    margin: 3rem;
    flex-wrap: wrap;
}
.footer-container .footer h4{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.footer-container .footer ul li{
    list-style: none;
    font-size: 1.5rem;
    margin-bottom: 1rem;

}
.footer-container .footer ul li a{
    text-decoration: none;
    color: var(--primary-text-color);
}
.footer-container .footer .footer-social ul li a i{
    font-size: 2rem;
}
.footer-container .footer-header{
    align-self: center;
    font-size: 2rem;
    font-weight: 150;
    font-style: italic;
}

@media only screen and (max-width:1400px){
    .profile .header {
        width: 80vw;
    }
    /* CONTACT */
    .message-container form .form-control input,
    .message-container form .form-control textarea,
    .message-container form .form-btn button{
        width: 50vw;
    }
}
@media only screen and (max-width:1000px){
    html{
        font-size: 50%;
    }
    /* CONTACT */
    .message-container form .form-control input,
    .message-container form .form-control textarea,
    .message-container form .form-btn button{
        width: 60vw;
    }
}
@media only screen and (max-width:800px){
    html{
        font-size: 48%;
    }
    .profile .navigation .nav ul li{
        margin-right: 0;
    }
    .profile .navigation .nav ul li a{
        font-size: 1.5rem;
    }
    .profile .navigation{
        justify-content:center
    }
    .profile .profile-menu.active{
        top: 2vh;
    }
}

@media only screen and (max-width:750px){
    html{
        font-size: 45%;
    }
    .profile .profile-menu.active{
        top: 2vh;
    }
    .profile .navigation{
        justify-content: space-around;
    }
    .profile .navigation .brand img{
        height: 10rem;
        width: auto;
    }
    .profile .navigation .burgerIcon{
        font-size: 3rem;
    }
    .profile .navigation .nav{
        display: none;
    }
    .profile .navigation .burgerIcon.open{
        display: inline-block;
    }
    

    .profile .header{
        margin-left: 0;
        padding-left: 2rem;
        width: 100vw;
    }
    .chef{
        flex-direction: column;
        margin: 0;
        margin-top: 5rem;
    }
    .chef .chef-image{
        width: 100%;
        margin-bottom: 2rem;
    }
    .chef .chef-header {
        width: 100%;
        padding-right: 2rem;
    }
    .chef .chef-header span{
        margin-top: 2rem;
    }
    .chef .chef-header h2,
    .menu .menu-header h2,
    .table-container .table .table-header h2,
    .slider-container .slider-header h2,
    .message-container .message-header h2
    {
        font-size: 4rem;
    }

    .message-container form .form-control input,
    .message-container form .form-control textarea,
    .message-container form .form-btn button{
        width: 80vw;
    }

}